@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lessons .col {
        width: 70%;
    }

    .col:first-child {
        margin-bottom: 80px;
    }

    .col:last-child {
        margin-top: 50px;
    }

    .row .col {
        width: 70%;
    }

    .why-us {
        padding-top: 50px;
        margin: 0;
        background-color: #222222;
    }

    .steps {
        margin: 0;
    }
}